doctype html
html(lang="en")
     head
          meta(charset="UTF-8")
          meta(name="viewport", content="width=device-width, initial-scale=1.0")
          title Test
          link(rel="stylesheet", href="compiled.css")
     body 
          div.w-64.border-solid.border-4.border-black 
               h1.text-red-700.text-3xl Hello World!